.about {
  display: flex;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: var(--color-white);
  width: 100%;
  color: var(--color-grey);
}
.text-zone {
  margin-left: 75px;
  margin-top: 100px;
  display: flex;
  flex-flow: column;
  text-align: center;
  align-items: center;
}
.text-zone h1 {
  text-align: center;
  align-items: center;
  text-shadow: 1px 1px var(--color-teal);
  color: var(--color-grey);
}
