.aboutContainer {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  justify-content: center;
  overflow: auto;
  position: relative;
  height: 100vh;
  background: var(--color-white);

  color: var(--color-grey);
  width: 75%;
  margin: 0 auto;
  padding: 10px;
  /* margin: 10px; */
  flex: 1 100%;
  border-radius: 10px;
}

.text-zone {
  margin-top: 100px;
  flex: 2;
  text-align: center;
  justify-content: center;
}
.text-zone h1 {
  margin-bottom: 30px;
}
.text-zone p {
  line-height: 1.5rem;
}
.tech {
  padding: 10px;
  margin-top: 60px;
  display: list-item;
}
.tech ul {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  gap: 0px 10px;
  padding: 0px;
  margin: 20px 0px 0px;
  overflow: hidden;
  list-style: none;
  text-align: center;
  justify-content: center;
}
.tech li {
  margin-bottom: 10px;
}
.logo__about {
  display: flex;
  margin-top: 100px;
  flex: 1;
  background-size: cover;
  object-fit: fill;
  transition: transform 1s;
}
.logo__about:hover {
  transform: rotate(360deg) translateZ(0);
}

/* @media screen and (max-width: 1440px) {
  .tech ul {
    text-align: center;
    justify-content: center;
  }
} */

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 425px) {
  .logo__about {
    margin-top: 10px;
  }
}
