.about {
  display: flex;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: var(--color-white);
  width: 100%;
  color: var(--color-grey);
}
.text-zone {
  margin-left: 50px;
  margin-top: 100px;
  display: flex;
  flex: 2;
  flex-flow: column;
  text-align: center;
  align-items: center;
}
.text-zone h1 {
  text-align: center;
  align-items: center;
  text-shadow: 1px 1px var(--color-teal);
  color: var(--color-grey);
}

.logo__about {
  width: 200px;
  height: 350px;
  display: flex;
  flex: 1;
  margin-top: 150px;
  margin-right: 50px;
  padding: 0;
  overflow: visible !important;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  transition: transform 1s;
}
.logo__about:hover {
  transform: rotate(360deg) translateZ(0);
}
