.marquee__container {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.marquee {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 20vw;
  overflow: hidden;
}

.marquee__content {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  line-height: 100%;
  animation: scrolling 12s linear infinite;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-300vw);
  }
}

.marquee__content li {
  /* border: 3px solid teal; */
  width: 25vw;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  font-size: 7.5rem;

  font-family: var(--font-family-base);
  font-style: var(--font-family-heading);
  font-weight: var(--font-weight-base-bold);
  white-space: nowrap;
}

@media (1024px <= width <= 2060px) {
  .marquee__content li {
    font-size: 3.6rem;
  }
}

@media (600px <= width <= 1023px) {
  .marquee__content li {
    font-size: 2.3rem;
  }
}

@media (300px <= width <= 599px) {
  .marquee__content li {
    font-size: 1.2rem;
  }
  .marquee__content {
    align-items: none;
  }
}
