section {
  display: flex;
  height: 100vh;
  position: relative;
  overflow: hidden;
  /* background: var(--color-grey); */
  /* background-image: url(../src/assets/background.jpg); */
  background-image: url(../../assets/white.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

/* display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  overflow: hidden; */

.hero {
  display: flex;
  flex-flow: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.hero h5 {
  font-size: 3rem;
  padding: 0%;
  margin-bottom: 0;
}
.hero h1 {
  font-size: 7rem;
  padding: 0%;
  margin: 0;
}
.title {
  margin-top: 25px;
  color: var(--color-teal);
  text-shadow: 2px 2px var(--color-darkgrey);
}
.cta {
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin: 20px;
  gap: 1.2rem;
  margin-top: 2.5rem;
}
