.navbar {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 2;
  background: transparent;
  width: 100%;
}

.navbar.active {
  background: white;
}

.logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}
.left {
  align-content: center;
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}
.left a {
  color: var(--color-on-background);
  font-size: 1.2rem;
}

.center {
  display: flex;
  justify-content: center;
  flex: 1;
}

.nav {
  list-style: none;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}
.nav a {
  text-decoration: none;
  color: var(--color-on-background);
  font-size: 1.2rem;
}
.btn-primary {
  display: inline-block;
  transition: opacity 300ms ease-out, border-color 300ms ease-out,
    background-color 300ms ease-out, color 300ms ease-out;
  border-radius: 0;
  text-decoration: none;
  padding: 10px 30px;
  -webkit-clip-path: polygon(18px 0%, 100% 0%, calc(100% - 18px) 100%, 0% 100%);
  clip-path: polygon(18px 0%, 100% 0%, calc(100% - 18px) 100%, 0% 100%);
  cursor: pointer;
  font-size: 0.7rem;
  font-style: var(--font-style-base);
  font-weight: var(--font-weight-base-bold);
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -0.02em;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 940px) {
  .navbar.active {
    background-color: white;
  }
  .left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: space-evenly;
    position: fixed;
    top: 300px;
    right: -400px;
    width: 300px;
    height: 100vh;
    z-index: 3;
    transition: 0.3s ease-in-out;
  }
  .left.active {
    right: 0;
  }
  .left.active a {
    padding: 2%;
  }
  .nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    /* top: 60px; */
    top: 0px;
    right: -400px;
    width: 300px;
    height: 100vh;
    background: white;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 1.1);
    padding: 40px 0 0 10px;
    transition: 0.3s ease-in-out;
  }
  .nav li {
    padding: 10px;
  }
  .nav button {
    margin-top: 10px;
  }
  .nav.active {
    right: 0;
  }

  .hamburger {
    display: flex;
    margin-right: 2rem;
    z-index: 5;
  }
  .center {
    display: flex;
    justify-content: center;
    flex: 0;
    margin-left: 3rem;
  }
}

@media screen and (max-width) {
  .nav {
    font-size: 4rem;
  }
}
